prompt=no
distinguished_name = qb_req_distinguished_name
 
x509_extensions = qb_extensions
 
[qb_req_distinguished_name]
C=IE
ST=Dublin
L=Dublin
O=MongoDB, Inc.
CN=CN-does-not-matter-when-using-SAN-queryable-backup.mongodb.com
 
[qb_extensions]
basicConstraints=CA:true
subjectAltName=@qb_subject_alt_names
 
[qb_subject_alt_names]
DNS.1 = omserver
IP.2 = 192.168.1.100