sudo: required

notifications:
  email: false

services:
  - docker

env:
  - ANSIBLE_HOME=/usr/local/bin PLAYBOOKS_PATH=/root/tests/playbooks OM=${OM34} MONGO=${MONGO_REPO_34} HTTP=${HTTP_OFF}
  - ANSIBLE_HOME=/usr/local/bin PLAYBOOKS_PATH=/root/tests/playbooks OM=${OM34} MONGO=${MONGO_REPO_34} HTTP=${HTTP_ON}
  - ANSIBLE_HOME=/usr/local/bin PLAYBOOKS_PATH=/root/tests/playbooks OM=${OM36} MONGO=${MONGO_REPO_36} HTTP=${HTTP_OFF}
  - ANSIBLE_HOME=/usr/local/bin PLAYBOOKS_PATH=/root/tests/playbooks OM=${OM36} MONGO=${MONGO_REPO_36} HTTP=${HTTP_ON}
  - ANSIBLE_HOME=/usr/local/bin PLAYBOOKS_PATH=/root/tests/playbooks OM=${OM40} MONGO=${MONGO_REPO_40} HTTP=${HTTP_OFF}
  - ANSIBLE_HOME=/usr/local/bin PLAYBOOKS_PATH=/root/tests/playbooks OM=${OM40} MONGO=${MONGO_REPO_40} HTTP=${HTTP_ON}
  - ANSIBLE_HOME=/usr/local/bin PLAYBOOKS_PATH=/root/tests/playbooks OM=${OM42} MONGO=${MONGO_REPO_42} HTTP=${HTTP_OFF}
  - ANSIBLE_HOME=/usr/local/bin PLAYBOOKS_PATH=/root/tests/playbooks OM=${OM42} MONGO=${MONGO_REPO_42} HTTP=${HTTP_ON}
  - ANSIBLE_HOME=/usr/local/bin PLAYBOOKS_PATH=/root/tests/playbooks OM=${OM50} MONGO=${MONGO_REPO_50} HTTP=${HTTP_OFF}
  - ANSIBLE_HOME=/usr/local/bin PLAYBOOKS_PATH=/root/tests/playbooks OM=${OM50} MONGO=${MONGO_REPO_50} HTTP=${HTTP_ON}
  
before_install:
  - sudo apt-get update
  - docker-compose build
  - docker-compose up -d
  - docker ps
  - docker network ls
script:
  # Check creation of SSL certs
  - docker exec -it provisioner ${ANSIBLE_HOME}/ansible-playbook ${PLAYBOOKS_PATH}/test_create_ssl_certs.yaml --extra-vars "mongodb_repo=${MONGO} om_version=${OM} om_https=${HTTP}"
  # Check installation of Backing databases and Ops Manager
  - docker exec -it provisioner ${ANSIBLE_HOME}/ansible-playbook ${PLAYBOOKS_PATH}/test_install_om.yaml --extra-vars "mongodb_repo=${MONGO} om_version=${OM}"
  # Install Automation Agent on clients
  - docker exec -it provisioner ${ANSIBLE_HOME}/ansible-playbook ${PLAYBOOKS_PATH}/test_install_auto_agents.yaml --extra-vars "mongodb_repo=${MONGO} om_version=${OM} om_https=${HTTP}"
  # Install minio S3
  - docker exec -it provisioner ${ANSIBLE_HOME}/ansible-playbook ${PLAYBOOKS_PATH}/test_install_s3.yaml --extra-vars "mongodb_repo=${MONGO} om_version=${OM} om_https=${HTTP}"
  # Enable Backup Daemon
  - docker exec -it provisioner ${ANSIBLE_HOME}/ansible-playbook ${PLAYBOOKS_PATH}/test_enable_backup_daemon.yaml --extra-vars "mongodb_repo=${MONGO} om_version=${OM} om_https=${HTTP}"  
  # Configure Oplog Store
  - docker exec -it provisioner ${ANSIBLE_HOME}/ansible-playbook ${PLAYBOOKS_PATH}/test_configure_oplog_store.yaml --extra-vars "mongodb_repo=${MONGO} om_version=${OM} om_https=${HTTP}"
  # Configure Filesystem Store
  - docker exec -it provisioner ${ANSIBLE_HOME}/ansible-playbook ${PLAYBOOKS_PATH}/test_configure_fsstore.yaml --extra-vars "mongodb_repo=${MONGO} om_version=${OM} om_https=${HTTP}"
  # Configure S3 blockstore
  - docker exec -it provisioner ${ANSIBLE_HOME}/ansible-playbook ${PLAYBOOKS_PATH}/test_configure_s3_blockstore.yaml --extra-vars "mongodb_repo=${MONGO} om_version=${OM} om_https=${HTTP}"
