- name: "Print variable"
  debug: var=api_key
- name: "Create Oplog Store"
  uri:
    url: "http://192.168.1.100:8080/api/public/v1.0/admin/backup/oplog/mongoConfigs?pretty=true"
    validate_certs: no
    method: POST
    #follow_redirects: all
    headers:
      Content-Type: "application/json"
    body_format: json
    body: '{"id":"oplog1","assignmentEnabled" : true,"encryptedCredentials" : false,"uri" : "mongodb://192.168.1.100:27017","ssl" : false}'
    status_code: 201
    return_content: yes
    user: admin
    password: "{{api_key}}"
  register: result
- name: "Printing result of API call"
  debug: var=result