---
- name: "Install Postfix smtp server"
  yum:
    name: postfix
    state: present

- name: "Configuring Postfix"
  lineinfile:
    path: /etc/postfix/main.cf
    regexp: '^inet_protocols =.*'
    line: 'inet_protocols = ipv4'    

- name: "Starting Postfix"
  service:
    name: postfix
    enabled: yes
    state: restarted

- name: "Download Ops Manager RPM"
  get_url:
    url: "{{om_download_url}}"
    dest: /tmp/mongodb-mms.rpm
    force_basic_auth: yes
  when: not local_mode

- name: "Copy the local installer"
  copy: 
    src="../files/mongodb-mms.rpm"
    dest="/tmp/mongodb-mms.rpm"
    owner=root 
    group=root 
    mode="u=rwx,g=r,o=r"
  when: local_mode

- name: "Install the RPM"
  yum:
    name: /tmp/mongodb-mms.rpm
    state: present
- name: "Enable mongodb-mms service"
  service:
    name: mongodb-mms
    enabled: yes

- name: "Create directory for head database"
  file: path=/data/head state=directory mode=0755 owner=mongodb-mms group=mongodb-mms

- name: "Create directory for fsstore"
  file: path=/data/fsstore state=directory mode=0755 owner=mongodb-mms group=mongodb-mms

# - name: Modify startup config to speedup process
#   replace:
#     path: /opt/mongodb/mms/conf/mms.conf
#     regexp: '^JAVA_MMS_UI_OPTS="\${JAVA_MMS_UI_OPTS} -Dxgen\.webServerGzipEnabled=true.*'
#     replace: 'JAVA_MMS_UI_OPTS="${JAVA_MMS_UI_OPTS} -Dxgen.webServerGzipEnabled=true -Dskip.migrate=true -Dskip.agent.download=true -Dskip.clear.lock=true"'

- name: Adding centralUrl to configuration
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.centralUrl=.*'
    line: 'mms.centralUrl={{ om_url }}'

- name: Adding server PEM file to configuration
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.https.PEMKeyFile=.*'
    line: 'mms.https.PEMKeyFile=/certs/omserver_server.pem'    
  when: om_https

- name: Replacing mongoUri
  replace:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mongo.mongoUri=.*'
    replace: 'mongo.mongoUri=mongodb://omserver:27017'

- name: Adding mms.fromEmailAddr
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.fromEmailAddr='
    line: mms.fromEmailAddr=mongodb-mms@omserver.localdomain

- name: Adding mms.adminEmailAddr
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.adminEmailAddr='
    line: mms.adminEmailAddr=mongodb-mms@omserver.localdomain

- name: Adding mms.replyToEmailAddr
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.replyToEmailAddr='
    line: mms.replyToEmailAddr=mongodb-mms@omserver.localdomain

- name: Adding mms.adminEmailAddr
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.adminEmailAddr='
    line: mms.adminEmailAddr=mongodb-mms@omserver.localdomain

- name: Adding mms.emailDaoClass
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.emailDaoClass='
    line: mms.emailDaoClass=com.xgen.svc.core.dao.email.JavaEmailDao

- name: Adding mms.mail.transport
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.mail.transport='
    line: mms.mail.transport=smtp

- name: Adding mms.mail.hostname
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.mail.hostname='
    line: mms.mail.hostname=localhost

- name: Adding mms.mail.port
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.mail.port='
    line: mms.mail.port=25
    
- name: Adding mms.ignoreInitialUiSetup
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.ignoreInitialUiSetup='
    line: mms.ignoreInitialUiSetup=true

- name: Adding mongodb.release.autoDownload
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mongodb.release.autoDownload='
    line: mongodb.release.autoDownload=true

- name: Adding mongodb.release.autoDownload.enterprise
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mongodb.release.autoDownload.enterprise='
    line: mongodb.release.autoDownload.enterprise=true

- name: Adding brs.queryable.pem
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^brs.queryable.pem='
    line: brs.queryable.pem=/certs/queryable.pem

- name: Adding brs.queryable.lruCacheCapacityMB
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^brs.queryable.lruCacheCapacityMB='
    line: brs.queryable.lruCacheCapacityMB=256

- name: Adding mms.preflight.run
  lineinfile:
    path: /opt/mongodb/mms/conf/conf-mms.properties
    regexp: '^mms.preflight.run='
    line: mms.preflight.run=true

- name: "Create conf dir to increase SystemD timeout for mongodb-mms service"
  file:
    path: /etc/systemd/system/mongodb-mms.service.d
    state: directory

- name: "Increase SystemD timeout for mongodb-mms service"
  copy:
    content: "[Service]\nTimeoutStartSec=900"
    dest: "/etc/systemd/system/mongodb-mms.service.d/increase-timeout.conf"

- name: "Start mongodb-mms service"
  systemd:
    state: restarted
    daemon_reload: yes
    enabled: yes
    name: mongodb-mms.service

- name: "Wait for port 8080 to become available"
  wait_for:
    port: 8080
    timeout: 900
  when: not om_https

- name: "Wait for port 8443 to become available"
  wait_for:
    port: 8443
    timeout: 900
  when: om_https

- name: "Check if the initial user has been created"
  uri:
    url: "{{ om_url }}/api/public/v1.0/users/byName/admin"
    method: GET
    validate_certs: no
    follow_redirects: all
    headers:
      Content-Type: "application/json"
    status_code: 200, 401, 404
    return_content: yes
  register: user_exists

- name: "Create initial user"
  uri:
    url: "{{ om_url }}/api/public/v1.0/unauth/users?pretty=true&whitelist=192.168.1.0/24"
    method: POST
    validate_certs: no
    follow_redirects: all
    headers:
      Content-Type: "application/json"
    body_format: json
    status_code: 201
    body: "{{first_user_api_call}}"
    return_content: yes
  register: user_create_result
  when: user_exists.status == 401 or user_exists.status == 404

- name: Saving API key for admin user in local server
  local_action: copy content={{user_create_result.json.apiKey}} dest=/root/vars/admin_user_api_key.yaml
  when: user_exists.status == 401 or user_exists.status == 404

- name: API Key for admin user
  debug: var=user_create_result.json.apiKey
  when: user_exists.status == 401 or user_exists.status == 404

- name: "Check if the initial group has been created"
  uri:
    url: "{{ om_url }}/api/public/v1.0/groups/Initial%20Group?pretty=true"
    validate_certs: no
    method: GET
    headers:
      Content-Type: "application/json"
    status_code: 200, 404
    return_content: yes
    user: admin
    password: "{{user_create_result.json.apiKey}}"
  register: project_created

- name: "Printing result of API call"
  debug: var=project_created

- name: Saving group ID in local server
  local_action: copy content={{project_created.content.id}} dest=/root/vars/group_id.yaml
  when: project_created.status == 200

- name: "Create initial group"
  uri:
    url: "{{ om_url }}/api/public/v1.0/groups?pretty=true"
    validate_certs: no
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body: '{"name": "Initial group"}'
    status_code: 201
    return_content: yes
    user: admin
    password: "{{user_create_result.json.apiKey}}"
  when: project_created.status == 404
  register: project

- name: "Printing result of API call"
  debug: var=project

- name: Saving group ID in local server
  local_action: copy content={{project.id}} dest=/root/vars/group_id.yaml
  when: project_created.status == 404