- name: "Fixing slapd init.d script stop bug"
  lineinfile:
    path: /etc/init.d/slapd
    regexp: '{{item.From}}'
    line: '{{item.To}}'
    state: present
  with_items:
    - { From: '.*start-stop-daemon --stop.*', To: 'reason="`start-stop-daemon --stop --oknodo --retry TERM/60 \'}
    - { From: '.*--exec \$SLAPD', To: ' --name slapd 2>&1`"'}

- name: "Starting Slapd"
  service:
    name: slapd
    enabled: yes
    state: started

- name: "Wait for port 389 to become available"
  wait_for:
    host: ldapserver
    port: 389
    timeout: 900

- name: "Setting slapd options"
  shell: |
    ldapsearch -x -w Password1! -D cn=admin,dc=tsdocker,dc=com -b dc=tsdocker,dc=com \
    && ldapmodify -Y external -H ldapi:/// -f /tmp/slapdlog.ldif \
    && ldapadd -Y EXTERNAL -H ldapi:/// -f /tmp/memberof.ldif \ 
    && ldapadd -Y EXTERNAL -H ldapi:/// -f /tmp/refint.ldif \
    && ldapadd -x -D cn=admin,dc=tsdocker,dc=com -w Password1! -f /tmp/users.ldif \
    && ldapadd -x -D cn=admin,dc=tsdocker,dc=com -w Password1! -f /tmp/groups.ldif \
    && ldapmodify -Y external -H ldapi:/// -f /tmp/olcSSL.ldif \
    && rm -rf /tmp/*.conf /tmp/*.ldif \
    && ldapsearch -x -w Password1! -D cn=admin,dc=tsdocker,dc=com -b dc=tsdocker,dc=com 

- name: "Setting slapd TLS options"
  shell: ldapmodify -Y external -H ldapi:/// -f /tmp/olcSSL.ldif

- name: "Configuring default Slapd settings"
  lineinfile:
    path: /etc/default/slapd
    regexp: '^SLAPD_SERVICES=.*'
    line: 'SLAPD_SERVICES="ldap:/// ldapi:/// ldaps:///"'    

- name: "Configuring client ldap settings"
  lineinfile:
    path: /etc/ldap/ldap.conf
    regexp: '^TLS_CACERT .*'
    line: 'TLS_CACERT /certs/ca.pem'

- name: "Re-starting Slapd to enable TLS"
  service:
    name: slapd
    enabled: yes
    state: restarted

- name: "Wait for port 636 to become available"
  wait_for:
    host: ldapserver
    port: 636
    timeout: 900
